USE [master]
GO
/****** Object:  Database [SaigonRideDB]    Script Date: 14/5/2026 2:08:09 am ******/
CREATE DATABASE [SaigonRideDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaigonRideDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SaigonRideDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaigonRideDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SaigonRideDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaigonRideDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaigonRideDB]
GO
/****** Object:  Table [dbo].[RentalTransactions]    Script Date: 14/5/2026 2:08:09 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[StartStationID] [int] NOT NULL,
	[EndStationID] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[BaseFare] [decimal](18, 2) NULL,
	[AppliedDiscount] [decimal](18, 2) NULL,
	[TotalPaid] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 14/5/2026 2:08:09 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](150) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[CurrentInventory] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/5/2026 2:08:09 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[PassportNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 14/5/2026 2:08:09 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CurrentStationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RentalTransactions] ON 

INSERT [dbo].[RentalTransactions] ([TransactionID], [UserID], [VehicleID], [StartStationID], [EndStationID], [StartTime], [EndTime], [BaseFare], [AppliedDiscount], [TotalPaid], [PaymentMethod]) VALUES (3, 1, 1, 1, 1, CAST(N'2026-05-03T02:38:00.000' AS DateTime), CAST(N'2026-05-05T15:02:40.400' AS DateTime), CAST(5437500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5437500.00 AS Decimal(18, 2)), N'VNPay')
INSERT [dbo].[RentalTransactions] ([TransactionID], [UserID], [VehicleID], [StartStationID], [EndStationID], [StartTime], [EndTime], [BaseFare], [AppliedDiscount], [TotalPaid], [PaymentMethod]) VALUES (4, 1, 1, 1, 2, CAST(N'2026-05-07T02:07:19.017' AS DateTime), CAST(N'2026-05-12T15:08:34.950' AS DateTime), CAST(7981266.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(7981266.00 AS Decimal(18, 2)), N'Cash')
INSERT [dbo].[RentalTransactions] ([TransactionID], [UserID], [VehicleID], [StartStationID], [EndStationID], [StartTime], [EndTime], [BaseFare], [AppliedDiscount], [TotalPaid], [PaymentMethod]) VALUES (5, 1, 1, 1, 1, CAST(N'2026-05-07T02:30:36.780' AS DateTime), CAST(N'2026-05-07T02:30:59.703' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), N'MoMo')
SET IDENTITY_INSERT [dbo].[RentalTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Stations] ON 

INSERT [dbo].[Stations] ([StationID], [LocationName], [MaxCapacity], [CurrentInventory]) VALUES (1, N'Ben Thanh Market', 10, 4)
INSERT [dbo].[Stations] ([StationID], [LocationName], [MaxCapacity], [CurrentInventory]) VALUES (2, N'Quan 2', 10, 2)
INSERT [dbo].[Stations] ([StationID], [LocationName], [MaxCapacity], [CurrentInventory]) VALUES (3, N'Thao Dien', 50, 9)
SET IDENTITY_INSERT [dbo].[Stations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [UserType], [PassportNumber]) VALUES (1, N'John Doe', N'Tourist', N'1234')
INSERT [dbo].[Users] ([UserID], [FullName], [UserType], [PassportNumber]) VALUES (2, N'Nguyen', N'Local', N'1233')
INSERT [dbo].[Users] ([UserID], [FullName], [UserType], [PassportNumber]) VALUES (3, N'Super Admin', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [Category], [Status], [CurrentStationID]) VALUES (1, N'E-Scooter', N'Available', 4)
INSERT [dbo].[Vehicles] ([VehicleID], [Category], [Status], [CurrentStationID]) VALUES (2, N'E-Scooter', N'Available', 1)
INSERT [dbo].[Vehicles] ([VehicleID], [Category], [Status], [CurrentStationID]) VALUES (3, N'Standard Bike', N'Available', 3)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ((0)) FOR [CurrentInventory]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([EndStationID])
REFERENCES [dbo].[Stations] ([StationID])
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([StartStationID])
REFERENCES [dbo].[Stations] ([StationID])
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD FOREIGN KEY([CurrentStationID])
REFERENCES [dbo].[Stations] ([StationID])
GO
USE [master]
GO
